/* Login.module.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loginForm {
    width: 300px;
    padding: 20px;
    border: 1px solid #343e48;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginLabel {
    display: block;
    margin-bottom: 8px;
  }
  
  .loginInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .loginButton {
    background-color: #455045;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .loginTitle {
    text-align: center;
    margin-bottom: 20px;
  }