body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background: rgba(255, 255, 255, 0.2); /* Set the background color with 50% opacity */
  /* Replace the above line with the background image if needed */
  background: url('./resources/bg.gif') center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire viewport */
  font-family: 'Inconsolata', Monospace;
}
